@{
    ViewBag.Title = "Home Page";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


<div class="row">
    <div class="col-md-12">
        @Html.DropDownList("nombres", items, "------------", new { @class = "form-control" })

    </div>
    <table id="datatable">
        <thead>
            <tr>
                <th>projectID</th>
                <th>startDate</th>
                <th>timeToStart</th>
                <th>endDate</th>
                <th>isActive</th>
                <th>Credits</th>
            </tr>
        </thead>

    </table>

</div>

@section scripts{
    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>

        $(document).ready(function () {
            $('#nombres').change(function () {
                var x = $('#nombres').val()
                table = $('#datatable').DataTable({
                "destroy": true,
                "ajax": {
                    "url": "/Home/projectsXusers",
                    "type": "GET",
                    "datatype": "json",
                    "data": {userId : x}
                },
                "columns": [{ "data": "projectID" },
                                { "data": "startDate" },
                                { "data": "timeToStart" },
                                { "data": "endDate" },
                                { "data": "isActive" },
                                { "data": "Credits" }]

            });
            });
            $('#datatable').DataTable({
                "ajax": {
                    "url": "/Home/projectsXusers",
                    "type": "GET",
                    "datatype": "json",
                    "data": { userId: 3 },
                },
                "columns": [{ "data": "projectID" },
                                { "data": "startDate" },
                                { "data": "timeToStart" },
                                { "data": "endDate" },
                                { "data": "isActive" },
                                { "data": "Credits" }
                ],
                
                "paging": false,
                "searching": false

            });
        });
    </script>

}

